/* Estilos generales */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 1.7em;
    color: #555;
}

.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    width: 80%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button p {
    margin: 0;
    padding: 0;
}

/* Estilos del botón */
button {
    background-color: #007bff; /* Azul */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 80%;
    position: relative; /* Necesario para el pseudo-elemento */
    overflow: hidden; /* Oculta la parte del pseudo-elemento que sale del botón */
    z-index: 1; /* Asegura que el texto esté por encima del pseudo-elemento */
}

button p, #downloadSql p {
    z-index: 1;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #b9433f; /* Verde */
    transition: left 0.5s ease;
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del texto */
}

button:hover::after {
    left: 0;
}

button:hover {
    outline: 1px solid black;
    color: #fff; /* Asegura que el texto se mantenga visible sobre el azul */
    background-color: #007bff; /* Mantiene el color de fondo del botón azul en hover */
}

#status {
    margin-top: 20px;
    font-weight: bold;
}

/* Estilos específicos para el botón con id #downloadSql */
#downloadSql {
    background-color: #28a745; /* Verde */
    font-weight: bold;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    min-width: 370px;
    position: relative; /* Necesario para el pseudo-elemento */
    overflow: hidden; /* Oculta la parte del pseudo-elemento que sale del botón */
    z-index: 1; /* Asegura que el texto esté por encima del pseudo-elemento */
}
#downloadSql:hover{
    color: black;
}

#downloadSql::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #ffc107; /* Amarillo */
    transition: left 0.5s ease;
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del texto */
    
}

#downloadSql:hover::after {
    left: 0;
}
